body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    animation-name: loopPulsar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes loopPulsar{
    from{
        height: 200px;
        width: 200px;
    }
    50%{
        height: 250px;
        width: 250px;
        box-shadow: 0 0 1em teal;
    }
    to{
        height: 200px;
        width: 200px;
        rotate:360deg;
    }
}