body{
    display: flex;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}
div{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    animation-name: aparecerGradativamente;
    animation-duration: 3s;
}
@keyframes aparecerGradativamente {
    from{
        height: 0;
        width: 0;

    }
    25%{
        background-color: aqua;
    }
    50%{
        background-color: brown;
    }
    to{
        background-color: cadetblue;
        height: 200px;
        width: 200px;
    }
}